.grid {
  display: grid;
  grid-template-columns: minmax(300px, 600px) 1fr;
  column-gap: 20px;
  grid-template-areas:
    'title title'
    'orders status'
    'orders total'
    'orders today';
  grid-template-rows:
    auto auto
    auto auto
    1fr auto;
  max-height: 100%;
  row-gap: 30px;
}

.title {
  grid-area: title;
}
