.popup {
  width: 720px;
  background: #1c1c21;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
}

.children {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
