.list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.item {
  color: #8585ad;
  text-align: center;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
