.separate {
  margin-top: 6vh;
}

.scroll {
  list-style: none;
  overflow-y: auto;
  max-width: 600px;
  display: grid;
  row-gap: 16px;
  width: 100%;
  align-self: flex-start;
  max-height: 312px;
}

.header {
  align-self: flex-start;
  width: 100%;
}
.status {
  align-self: flex-start;
}
.item {
  display: flex;
  align-items: center;
  width: 100%;
}
.imageBorder {
  display: flex;
  width: 64px;
  height: 64px;
  border: 2px solid #4c4cff;
  box-sizing: border-box;
  border-radius: 50%;
  background: #131316;
}
.image {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.price {
  display: flex;
  margin-left: auto;
}

.footer {
  display: flex;
  width: 100%;
}

.timestamp {
  margin-right: auto;
}

.total {
  margin-left: auto;
}

.done {
  color: #00cccc;
}
.pending {
  color: inherit;
}
.cancel {
  color: indianred;
}

.created {
  color: inherit;
}
