.activelink {
  color: white;
}
.header {
  position: relative;

  min-width: 1130px;
  display: flex;
  background-color: #1c1c21;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.item {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
}

.navlink {
  display: flex;
  align-items: center;
  padding: 20px 17px;
}

.logo {
  position: absolute;
  top: 24px;
  left: calc(50% - (290px / 2));
}
